@font-face {
  font-family: 'Helvetica Neue HV Std';
  src: url('./assets/fonts/HelveticaNeueLTStd-Hv.woff');
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('./assets/fonts/HelveticaNeueLTStd-Lt.woff');
}

body {
  margin: 0 auto;
  padding: 0;

  a {
    text-decoration: none;
    color: inherit;
  }
}
